// defined in _layers.scss
// 0. defaults
// 1. components
// 2. utilities

// A quick note on browser tools.
// At the time of this writing, the style behavior is correct in all supporting browsers.
// Yet, the dev tools show the WRONG, higher layer taking priority.

// 0.
@layer defaults {
  a:is(:link, :visited) {
    // low-priority layers are easy to override by default
    color: mediumvioletred;

    // but take priority with importance
    text-decoration: underline !important; // <-- WINS because !important
  }
}

// HIGHEST PRIORITY - Un-Layered

.maroon {
  color: lime;
  text-decoration: none;
}

// 2. HIGH PRIORITY - lowest specificity
@layer utilities {

  // high-priority layers win by default
  .maroon {
    color: orange;
    text-decoration: none;
  }
}

// 1.
@layer components {
  #call-to-action {
    // higher layers have lower priority with important styles
    text-decoration: none !important;
    color: rebeccapurple;
    font-size: 3em;
    display: inline-block;
    border: medium solid;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
  }
}